public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V #setFlammable

public-f net.minecraft.world.item.AxeItem f_150683_ #STRIPPABLES

public net.minecraft.world.item.crafting.RecipeManager m_44054_(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map; # byType

public net.minecraft.world.item.crafting.SingleItemRecipe$Serializer$SingleItemMaker

public net.minecraft.world.entity.npc.VillagerType f_35827_ #BY_BIOME
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds

public net.minecraft.world.entity.vehicle.Boat f_38281_ #lastYd
public net.minecraft.world.entity.vehicle.Boat f_38279_ #status

public net.minecraft.world.entity.monster.piglin.PiglinAi m_34826_(Lnet/minecraft/world/entity/monster/piglin/AbstractPiglin;Lnet/minecraft/world/entity/LivingEntity;)V #maybeRetaliate

public net.minecraft.world.item.crafting.Ingredient f_43902_ # values
public net.minecraft.world.item.crafting.Ingredient$ItemValue f_43951_ # item
public net.minecraft.world.item.crafting.Ingredient$TagValue f_43959_ # tag

public net.minecraft.data.worldgen.StructureFeatures * #All Structure Features

public net.minecraft.client.gui.MapRenderer$MapInstance
protected net.minecraft.client.gui.screens.recipebook.AbstractFurnaceRecipeBookComponent f_100113_ # fuels

# debugging
public net.minecraft.world.item.crafting.SmithingTransformRecipe f_265949_ # template
public net.minecraft.world.item.crafting.SmithingTransformRecipe f_265888_ # base
public net.minecraft.world.item.crafting.SmithingTransformRecipe f_265907_ # addition
public net.minecraft.world.level.storage.loot.LootTable f_79109_ # pools
public net.minecraft.world.level.storage.loot.LootPool f_79023_ # entries
public net.minecraft.world.level.storage.loot.entries.LootItem f_79564_ # item
public net.minecraft.world.level.storage.loot.entries.LootTableReference f_79754_ # name
public net.minecraft.world.level.storage.loot.LootDataManager f_278415_ # elements
public net.minecraft.world.item.CreativeModeTab f_256824_ # displayItemsGenerator
public net.minecraft.world.level.block.ConcretePowderBlock f_52058_ # concrete
public net.minecraft.world.level.storage.loot.entries.CompositeEntryBase f_79428_ # children
