public net.minecraft.world.level.block.FireBlock setFlammable(Lnet/minecraft/world/level/block/Block;II)V

public-f net.minecraft.world.item.AxeItem STRIPPABLES

public net.minecraft.world.item.crafting.RecipeManager byType(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map;

public net.minecraft.world.item.crafting.SingleItemRecipe$Serializer$SingleItemMaker

public net.minecraft.world.entity.npc.VillagerType BY_BIOME
public net.minecraft.world.entity.npc.VillagerTrades$TreasureMapForEmeralds

public net.minecraft.world.entity.vehicle.Boat lastYd
public net.minecraft.world.entity.vehicle.Boat status

public net.minecraft.world.entity.monster.piglin.PiglinAi maybeRetaliate(Lnet/minecraft/world/entity/monster/piglin/AbstractPiglin;Lnet/minecraft/world/entity/LivingEntity;)V

public net.minecraft.data.worldgen.StructureFeatures *

public net.minecraft.client.gui.MapRenderer$MapInstance
protected net.minecraft.client.gui.screens.recipebook.AbstractFurnaceRecipeBookComponent fuels

# debugging
public net.minecraft.world.item.crafting.SmithingTransformRecipe template
public net.minecraft.world.item.crafting.SmithingTransformRecipe base
public net.minecraft.world.item.crafting.SmithingTransformRecipe addition
public net.minecraft.world.level.storage.loot.LootTable pools
public net.minecraft.world.level.storage.loot.LootPool entries
public net.minecraft.world.level.storage.loot.entries.LootItem item
public net.minecraft.world.level.storage.loot.entries.LootTableReference name
public net.minecraft.world.level.storage.loot.LootDataManager elements
public net.minecraft.world.item.CreativeModeTab displayItemsGenerator
public net.minecraft.world.level.block.ConcretePowderBlock concrete
public net.minecraft.world.level.storage.loot.entries.CompositeEntryBase children

